$white:#FFFFFF;
$dark-grey:#333;
$grey-c:#CCCCCC;
$grey-9:#999999;
$grey-6:#666666;
$purple:#2D3B62;
$orange:#f05a28;
$light-blue:#26a9e1;
$light-orange:#f6931e;
$light-purple:#65749A;
$black:#000000;
$light-green:#8bc53f;
$grey-f2:#f2f2f2;
