@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
/* line 4, ../scss/custom.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

/* line 10, ../scss/custom.scss */
body {
  font-family: 'Source Sans Pro', sans-serif !important;
  color: white;
  font-weight: 300;
}

/* line 15, ../scss/custom.scss */
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}

/* line 21, ../scss/custom.scss */
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}

/* line 28, ../scss/custom.scss */
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}

/* line 35, ../scss/custom.scss */
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}

/* line 42, ../scss/custom.scss */
a {
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 47, ../scss/custom.scss */
.wrapper {
  margin: 0;
  background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, #097D47), color-stop(1, #24B574));
  background-image: -o-linear-gradient(left top, #097D47 0%, #24B574 100%);
  background-image: -moz-linear-gradient(left top, #097D47 0%, #24B574 100%);
  background-image: -webkit-linear-gradient(left top, #097D47 0%, #24B574 100%);
  background-image: -ms-linear-gradient(left top, #097D47 0%, #24B574 100%);
  background-image: linear-gradient(to left top, #097d47 0%, #24b574 100%);
  position: absolute;
  top: 9%;
  left: 0;
  width: 100%;
  min-height: 490px;
  overflow: hidden;
  padding-bottom: 1em;
}

/* line 65, ../scss/custom.scss */
.cloud-logo {
  background-image: url(../images/csuitelogo.png);
  background-size: 200px;
  width: 100%;
  height: 146px;
  background-repeat: no-repeat;
  z-index: 1200;
  background-position-x: 50%;
  background-position: center;
}

/*original .wrapper*/
/*.wrapper {
	margin:0;
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 400px;
    margin-top: -200px;
    overflow: hidden;
}*/
/* line 92, ../scss/custom.scss */
.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
  -ms-transform: translateY(85px);
  transform: translateY(85px);
}

/* line 98, ../scss/custom.scss */
.region.region-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0 15px 0;
  text-align: center;
}

/* line 104, ../scss/custom.scss */
.region.region-content h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
  transition-timing-function: ease-in-put;
  font-weight: 200;
}

/* line 113, ../scss/custom.scss */
.description {
  display: none;
}

/* line 117, ../scss/custom.scss */
form#user-login {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

/* line 122, ../scss/custom.scss */
#user-login label {
  position: relative;
  width: 100%;
  /*top: 36px;*/
  text-align: center;
  color: white;
}

/* line 129, ../scss/custom.scss */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #ffffff !important;
  background-image: none !important;
  color: #45AD84 !important;
}

/* line 134, ../scss/custom.scss */
input:-webkit-autofill,
form#user-login input,
.form-text {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 21px;
  color: white;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin-bottom: 2em;
}

/* line 158, ../scss/custom.scss */
.password-strength {
  width: 17em;
  float: none;
  margin-top: 1.4em;
  text-align: center;
  width: 100%;
}

/* line 165, ../scss/custom.scss */
div#edit-actions input#edit-submit {
  background-color: #ffffff;
  color: #45AD84;
}

/* line 170, ../scss/custom.scss */
div#edit-actions {
  margin-top: 4em;
}

/* line 173, ../scss/custom.scss */
form#user-login input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/* line 176, ../scss/custom.scss */
form#user-login input:focus {
  background-color: white;
  width: 300px;
  color: #45AD84;
}

/* line 181, ../scss/custom.scss */
form#user-login button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #44AA7C;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

/* line 197, ../scss/custom.scss */
form#user-login button:hover {
  background-color: #f5f7f9;
}

/* line 201, ../scss/custom.scss */
.bg-bubbles {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* line 209, ../scss/custom.scss */
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

/* line 222, ../scss/custom.scss */
.bg-bubbles li:nth-child(1) {
  left: 10%;
}

/* line 225, ../scss/custom.scss */
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}

/* line 234, ../scss/custom.scss */
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

/* line 239, ../scss/custom.scss */
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}

/* line 247, ../scss/custom.scss */
.bg-bubbles li:nth-child(5) {
  left: 70%;
}

/* line 250, ../scss/custom.scss */
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 258, ../scss/custom.scss */
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}

/* line 265, ../scss/custom.scss */
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}

/* line 274, ../scss/custom.scss */
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}

/* line 284, ../scss/custom.scss */
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(600deg);
    transform: translateY(-1000px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(600deg);
    transform: translateY(-1000px) rotate(600deg);
  }
}
/********************** test for user password page**********/
/* line 315, ../scss/custom.scss */
form#user-pass {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

/* line 320, ../scss/custom.scss */
form#user-pass input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 700;
}

/* line 339, ../scss/custom.scss */
form#user-pass input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/* line 342, ../scss/custom.scss */
form#user-pass input:focus {
  background-color: white;
  width: 300px;
  color: #45AD84;
}

/* line 347, ../scss/custom.scss */
form#user-pass button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #45AD84;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

/* line 363, ../scss/custom.scss */
form#user-pass button:hover {
  background-color: #f5f7f9;
}

/* line 368, ../scss/custom.scss */
.actions-box {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

/* line 373, ../scss/custom.scss */
a.u-p {
  border: 1px solid rgba(255, 255, 255, 0.54);
  padding: 0 .5em;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.28);
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* line 382, ../scss/custom.scss */
a.u-p:hover {
  color: #45AD84;
  background-color: #ffffff;
}

/* line 387, ../scss/custom.scss */
label {
  font-weight: 200;
  text-align: center;
  color: white;
}

/* line 392, ../scss/custom.scss */
div.password-confirm {
  float: right;
  margin-top: 1.5em;
  visibility: hidden;
  width: 100%;
}

/* line 398, ../scss/custom.scss */
#user-profile-form label {
  position: relative;
  /* top: 33px;*/
}

/* line 402, ../scss/custom.scss */
#user-profile-form .form-type-radios label {
  position: relative;
  top: 0;
}

/* line 406, ../scss/custom.scss */
span#user-page-profile-Nam a,
span#user-page-contact a,
span#user-page-dashboard a {
  border: 1px solid rgba(255, 255, 255, 0.54);
  padding: 0 .5em;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.28);
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* line 417, ../scss/custom.scss */
span.user-page-bullet {
  display: none;
}

/* line 420, ../scss/custom.scss */
span#user-page-contact {
  display: block;
}

/* line 423, ../scss/custom.scss */
.page-user-password .actions-box {
  display: none;
}

/* line 426, ../scss/custom.scss */
.page-user-edit-name-and-address input#edit-submit,
.page-user-reset- input#edit-submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #45AD84;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

/* line 443, ../scss/custom.scss */
.page-user-edit-name-and-address input#last_name,
.page-user-edit-name-and-address input#first_name {
  color: #000000;
}

/* line 447, ../scss/custom.scss */
.page-user-edit-name-and-address #user-profile-form label {
  top: 0;
}

/* line 451, ../scss/custom.scss */
h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 457, ../scss/custom.scss */
.user-page-link a {
  display: none;
}

/* line 462, ../scss/custom.scss */
ul.button-group.round {
  max-width: 367px;
  margin: 0 auto;
}
/* line 465, ../scss/custom.scss */
ul.button-group.round .button.secondary {
  background-color: #149459;
}
/* line 468, ../scss/custom.scss */
ul.button-group.round a {
  color: white;
}

/* line 474, ../scss/custom.scss */
.crm-container .crm-section .label {
  float: left;
  width: auto;
  text-align: right;
}

/* line 481, ../scss/custom.scss */
.page-user .row.front {
  max-width: 650px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 489, ../scss/custom.scss */
.page-user-edit label.in-field-labels-processed {
  display: block !important;
}

/* line 494, ../scss/custom.scss */
form#user-login {
  text-align: center;
}

/* line 498, ../scss/custom.scss */
form#user-pass {
  text-align: center;
}

/* line 502, ../scss/custom.scss */
.logged-in .actions-box {
  display: none;
}

/* line 506, ../scss/custom.scss */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  background-color: #FFF;
  font-family: Arial;
  font-size: 12px;
  border: 1px solid #CCC;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 auto;
  padding: 0.5em;
  height: 2.3125em;
  max-width: 300px;
  min-height: 40px;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
}

/* line 530, ../scss/custom.scss */
.page-mobileapp #admin-menu, .page-mobileapp #admin-menu .dropdown, .page-mobileapp .logo, .page-mobileapp .fcrm-footer, .page-mobileapp .main-nav, .page-mobileapp .l-footer, .page-mobileapp .l-triptych, .page-mobileapp .top-bar, .page-mobileapp .block-views-menubar-block-2, .page-mobileapp .breadcrumbs, .page-mobileapp-contacts #admin-menu, .page-mobileapp-contacts #admin-menu .dropdown, .page-mobileapp-contacts .logo, .page-mobileapp-contacts .fcrm-footer, .page-mobileapp-contacts .main-nav, .page-mobileapp-contacts .l-footer, .page-mobileapp-contacts .l-triptych, .page-mobileapp-contacts .top-bar, .page-mobileapp-contacts .block-views-menubar-block-2, .page-mobileapp-contacts .breadcrumbs, .section-mobileapp #admin-menu, .section-mobileapp #admin-menu .dropdown, .section-mobileapp .logo, .section-mobileapp .fcrm-footer, .section-mobileapp .main-nav, .section-mobileapp .l-footer, .section-mobileapp .l-triptych, .section-mobileapp .top-bar, .section-mobileapp .block-views-menubar-block-2, .section-mobileapp .breadcrumbs {
  display: none;
}
/* line 534, ../scss/custom.scss */
.page-mobileapp td.views-field.views-field-display-name, .page-mobileapp-contacts td.views-field.views-field-display-name, .section-mobileapp td.views-field.views-field-display-name {
  font-size: 1.2em;
}
/* line 538, ../scss/custom.scss */
.page-mobileapp i.fa.fa, .page-mobileapp-contacts i.fa.fa, .section-mobileapp i.fa.fa {
  font-size: 1em;
}
/* line 542, ../scss/custom.scss */
.page-mobileapp table td, .page-mobileapp-contacts table td, .section-mobileapp table td {
  padding: 20px 10px !important;
}
/* line 546, ../scss/custom.scss */
.page-mobileapp form#views-exposed-form-contacts-page-1, .page-mobileapp-contacts form#views-exposed-form-contacts-page-1, .section-mobileapp form#views-exposed-form-contacts-page-1 {
  padding: 6px;
}
/* line 551, ../scss/custom.scss */
.page-mobileapp div#edit-title-wrapper label, .page-mobileapp-contacts div#edit-title-wrapper label, .section-mobileapp div#edit-title-wrapper label {
  color: #2ba6cb;
}
/* line 556, ../scss/custom.scss */
.page-mobileapp table.views-table, .page-mobileapp-contacts table.views-table, .section-mobileapp table.views-table {
  width: 100%;
}
/* line 559, ../scss/custom.scss */
.page-mobileapp table, .page-mobileapp-contacts table, .section-mobileapp table {
  width: 100%;
}
/* line 563, ../scss/custom.scss */
.page-mobileapp .views-exposed-form .views-exposed-widget .form-submit, .page-mobileapp-contacts .views-exposed-form .views-exposed-widget .form-submit, .section-mobileapp .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1em;
}
/* line 567, ../scss/custom.scss */
.page-mobileapp .appbar, .page-mobileapp-contacts .appbar, .section-mobileapp .appbar {
  background: #21A367;
  text-align: center;
  font-color: #fff;
  padding: 1em 0;
  margin-top: -20px !important;
}
/* line 575, ../scss/custom.scss */
.page-mobileapp .appbar a, .page-mobileapp-contacts .appbar a, .section-mobileapp .appbar a {
  font-size: 1.2em;
  color: #fff;
  font-weight: bold;
}
/* line 580, ../scss/custom.scss */
.page-mobileapp th.views-field, .page-mobileapp-contacts th.views-field, .section-mobileapp th.views-field {
  font-size: 1.2em;
  font-weight: bold;
}
/* line 584, ../scss/custom.scss */
.page-mobileapp td.views-field, .page-mobileapp-contacts td.views-field, .section-mobileapp td.views-field {
  font-size: 1em;
}
/* line 588, ../scss/custom.scss */
.page-mobileapp h1, .page-mobileapp h2, .page-mobileapp h3, .page-mobileapp-contacts h1, .page-mobileapp-contacts h2, .page-mobileapp-contacts h3, .section-mobileapp h1, .section-mobileapp h2, .section-mobileapp h3 {
  color: #21A367;
  text-align: center;
}
/* line 595, ../scss/custom.scss */
.page-mobileapp .apphome #admin-menu, .page-mobileapp .apphome #admin-menu .dropdown, .page-mobileapp .apphome .logo, .page-mobileapp .apphome .fcrm-footer, .page-mobileapp .apphome .main-nav, .page-mobileapp .apphome .l-footer, .page-mobileapp .apphome .l-triptych, .page-mobileapp .apphome .top-bar, .page-mobileapp .apphome .block-views-menubar-block-2, .page-mobileapp .apphome .breadcrumbs, .page-mobileapp-contacts .apphome #admin-menu, .page-mobileapp-contacts .apphome #admin-menu .dropdown, .page-mobileapp-contacts .apphome .logo, .page-mobileapp-contacts .apphome .fcrm-footer, .page-mobileapp-contacts .apphome .main-nav, .page-mobileapp-contacts .apphome .l-footer, .page-mobileapp-contacts .apphome .l-triptych, .page-mobileapp-contacts .apphome .top-bar, .page-mobileapp-contacts .apphome .block-views-menubar-block-2, .page-mobileapp-contacts .apphome .breadcrumbs, .section-mobileapp .apphome #admin-menu, .section-mobileapp .apphome #admin-menu .dropdown, .section-mobileapp .apphome .logo, .section-mobileapp .apphome .fcrm-footer, .section-mobileapp .apphome .main-nav, .section-mobileapp .apphome .l-footer, .section-mobileapp .apphome .l-triptych, .section-mobileapp .apphome .top-bar, .section-mobileapp .apphome .block-views-menubar-block-2, .section-mobileapp .apphome .breadcrumbs {
  display: none;
}
/* line 599, ../scss/custom.scss */
.page-mobileapp .apphome i, .page-mobileapp-contacts .apphome i, .section-mobileapp .apphome i {
  color: #fff;
}
/* line 602, ../scss/custom.scss */
.page-mobileapp .qklinks, .page-mobileapp-contacts .qklinks, .section-mobileapp .qklinks {
  margin-bottom: .5em;
}
/* line 603, ../scss/custom.scss */
.page-mobileapp .qklinks .fa, .page-mobileapp-contacts .qklinks .fa, .section-mobileapp .qklinks .fa {
  font-size: 2em !important;
  margin-left: 8px;
  color: #21a367;
}
/* line 611, ../scss/custom.scss */
.page-mobileapp .qk2 .fa, .page-mobileapp-contacts .qk2 .fa, .section-mobileapp .qk2 .fa {
  font-size: 1.5em !important;
  margin-left: 6px;
  color: #21a367;
}

/* line 619, ../scss/custom.scss */
.center {
  text-align: center;
}
