/*///CIVICRM STYLING////*/

.crm-container.crm-public .select2-container .select2-choice {
    padding: 0px 5px 5px 8px !important;
}

/*///////// CIVI DONATE PAGE ///////////*/
.crm-container .crm-section .content{
 margin-left: 40%;
}

/*///////// CIVI Event PAGE ///////////*/
@media all and (min-width:939px){
.page-civicrm-event #page-title {
    margin-top: 2em;
}

.crm-contribution-main-form-block img {
    width: 100%;
}
